*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: 'IBM Plex Mono', monospace;
	font-style:normal;
	color: white;
}

strong{
	font-size: 25px;
}
section{
	max-width: auto;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 180px;
}

h1{
	font-family: 'Dhurjati', sans-serif;
	font-size: 120px;
	text-shadow: 3px 3px #c91d1b;
	overflow:hidden;
	text-align: center;
}

h2{
	font-size: 16px;
}

h3{
	font-family: 'Dhurjati', sans-serif;
	font-size: 45px;
}

h4{
	font-family: 'Dhurjati', sans-serif;
	text-align: left;
	font-size: 39px;
	border-bottom: 3px solid red;
}

header{
	color: white; /* more readable on an orange background */
	padding-top: 0;
	padding-bottom: 100px;
	text-align: center;
}

img{
	margin-top: 5px;
	border-radius: 5px;
}

section p{
	padding-top: 0px;
	text-align: left;
	font-size: 16px;
}

footer{
background-color: #0a0c0f;
margin-top: 10px;
font-size: 12px;
text-align: center;
}

.button {
  background-color: white;
  border: none;
  padding: 10px 20px;
	margin-top: 10px;
  text-align: center;
  text-decoration: inherit;
  display: inline-block;
  font-size: 20px;
	color: black;
	border-radius: 9px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.3s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
box-shadow: 3px 3px #c91d1b;
}

.button:hover{
	background-color: #08404f;
  color: white;
}

nav{
	width: 100%;
	height: 60px;
}

nav a, nav h3{
	float: left;
	margin: 0px;
	line-height: 70px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
	color: white;
	font-size: 16px;
}

nav a:hover{
	text-decoration: underline; /* Hover styles to let people know they can click it */
	text-decoration-color: #c91d1b;
}

.center {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  }

.gallery{
	margin: 10px 200px;
	padding: 50px;
}

.gallery img{
	transition: 1s;
	padding: 15px;
	width: 290px;
}

.gallery img:hover{
	filter: grayscale(100%);
	transform: scale(1.1);
}

a {
color: #c91d1b;
}

a:link {
color: #black;
}
a:visited {
color: dark grey;
}
a:hover {
color: blue;
}

a {
	font-size: 17=5px;
}

.purpose{
	-webkit-column-count: 3; /* Old Chrome, Safari and Opera */
  -moz-column-count: 3;
	column-count: 3;
	column-gap: 60px;
	column-rule-style: solid;
	margin-top:auto;
	column-span: all;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
	border-style: outset;
	border-radius: 10px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 30px;
}

.column-77{
	float: right;
	width: 65.66666%;
	padding: 15px;
	margin: 10px 500px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 30px;
}

.large-font {
  font-size: 40px;
}

.xlarge-font {
  font-size: 64px
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
	margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
	color: white;
	background-color: #08404f;
}
